{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}HomeShare{% endblock %}</title>
        <link
                rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
                integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
                crossorigin="anonymous"
        />
        <link href="{% static 'homeshare/styles.css' %}" rel="stylesheet">
        <script type="text/javascript" src="{% static 'homeshare/index.js' %}"></script>
    </head>
    <body>




    <div class="container" >

        <div class="form-container">
            <div class="signin-signup">

            </div>
        </div>
        <div class="panels-container">

        </div>

    </div>

        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>